<br>
<br>
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-5 col-xl-4 offset-xl-1">
        <form #loginForm="ngForm" (submit)="onSubmit(loginForm.value)">
          <br>
          <br>
          <br>

          <br>  
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Login</p>
            
          </div>
          <br>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input [(ngModel)]="UserEmail" name="UserEmail" type="email" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter Email"  #localEmail="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required
              [ngClass]="{'is-invalid': localEmail.errors && localEmail.touched}"/>
              <div class="invalid-feedback">
                กรุณากรอกอีเมลล์ให้ถูกต้อง
            </div>
            <label class="form-label" for="form3Example3"></label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input ngModel name="UserPassword" type="password" id="form3Example4" class="form-control form-control-lg"
            placeholder="Enter password" [(ngModel)]="UserPassword" 
            #localPassword="ngModel" minlength="4" required
            [ngClass]="{'is-invalid': localPassword.errors && localPassword.touched}" />
            <div class="invalid-feedback">
              กรุณากรอกรหัสผ่านให้ถูกต้อง
          </div>
            <label class="form-label" for="form3Example4"></label>
          </div>

          <div *ngIf="isError" class="alert alert-danger alert-
          dismissible">
          
            <h5><i class="fa fa-ban" aria-hidden="true"></i> Alert!</h5>
            {{isError}}
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
            <a [routerLink]="[ '/adminlogin']" class="text-body"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button [disabled]="loginForm.form.invalid" type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a [routerLink]="[ '/register']"
                class="link-danger">Register</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2020. All rights reserved.
    </div>
    <!-- Copyright -->

    <!-- Right -->

    <!-- Right -->
  </div>
</section>