<!-- <div class="content-wrapper">
    <div class="mt-3">
        <div class="d-flex justify-content-between align-items-center">
            <mat-form-field appearance="outline" class="w-50">
                <mat-label>Search products</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <button class="example-button-row" color="primary" mat-flat- button routerLink="/stockcreate">

                <mat-icon>add</mat-icon> Add Product
            </button>
        </div>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort class="table-hover">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>

                <ng-container matColumnDef="productName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ProductName </th>
                    <td mat-cell *matCellDef="let row"> {{row.productName}} </td>
                </ng-container>

                <ng-container matColumnDef="idType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> idType </th>
                    <td mat-cell *matCellDef="let row"> {{row.idType}} </td>
                </ng-container>

                <ng-container matColumnDef="productPrice">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ProductPrice </th>
                    <td mat-cell *matCellDef="let row"> {{row.productPrice}} </td>
                </ng-container>

                <ng-container matColumnDef="idStock">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> idStock </th>
                    <td mat-cell *matCellDef="let row"> {{row.idStock}} </td>
                </ng-container>

                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef> image. </th>
                    <td class="tt" mat-cell *matCellDef="let element">
                        <ng-container *ngIf="element.image; else elseTemplate">
                            <img class="imgSize m-2" src="{{element.image}}?timestamp={{timestamp}}" alt="">
                        </ng-container>

                        <ng-template #elseTemplate>

                            <img class="imgSize m-2" src="assets/noimg.png" alt="">
                        </ng-template>
                    </td>
                </ng-container>

                <ng-container matColumnDef="productDetail">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Detail </th>
                    <td mat-cell *matCellDef="let row"> {{row.productDetail}} </td>
                </ng-container>
 
                <ng-container matColumnDef="detailSpecifics">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Specifics </th>
                    <td mat-cell *matCellDef="let row"> {{row.detailSpecifics}} </td>
                </ng-container>

                <ng-container matColumnDef="aciton">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> aciton </th>
                    <td mat-cell *matCellDef="let row">
                       
                        <button [routerLink]="[ '/stockedit', row.id ]" class="m-2" mat-mini-fab color="accent">
                            <mat-icon>edit</mat-icon>
                        </button>
                        
                        <button mat-mini-fab color="accent" >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                Row shown when there is no matching data
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">ไม่เจอ "{{input.value}}"</td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>

    </div> -->


    <!-- <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-animate-top w3-card-4">
            <form (submit)="addStock(FormStock)" #FormStock="ngForm">
                <header class="w3-container w3-teal">
                    <span onclick="document.getElementById('id01').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                    <h2>add Stock</h2>
                </header>
    
                <div class="w3-container">
    
                    <input [(ngModel)]="mStock.stock1" #LocalStock="ngModel" name="stock1" type="number" class="input"
                        placeholder="stock" />
    
                </div>
                <footer class="w3-container w3-teal">
                    <button type="submit" [disabled]="FormStock.form.invalid">ยืนยัน</button>
                    <button type="button" onclick="document.getElementById('id01').style.display='none'">ยกเลิก</button>
                </footer>
            </form>
        </div>
    </div> -->

<!-- <button onclick="document.getElementById('id01').style.display='block'" (click)="addId(row.id)" class="w3-button w3-black">Open Animated Modal</button> -->

                        <!-- <button type="button" class="btn btn-outline-primary block" data-bs-toggle="modal" data-bs-target="#default">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button> -->


    <div class="content-wrapper p-4" >

        <div class="mt-3" >
            <div class="d-flex justify-content-between align-items-center" >
                <mat-form-field appearance="outline" class="w-50">
                    <mat-label>Search products</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                <button class="example-button-row" color="primary" mat-flat-button routerLink="/ProductsForm">
                    <mat-icon>add</mat-icon> Add Product
                </button>
            </div>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8  table-hover" style="color: rgb(255, 0, 0);">
                
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>
             
                <ng-container matColumnDef="productName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ProductName </th>
                    <td mat-cell *matCellDef="let row"> {{row.productName}} </td>
                </ng-container>

                <ng-container matColumnDef="productPrice">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ProductPrice </th>
                    <td mat-cell *matCellDef="let row"> {{row.productPrice}} </td>
                </ng-container>

                <ng-container matColumnDef="pdStock">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> pdStock </th>
                    <td mat-cell *matCellDef="let row"> {{row.pdStock}} </td>
                </ng-container>
    
                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef> Image. </th>
                    <td class="tt" mat-cell *matCellDef="let row">
                        <ng-container *ngIf="row.image; else elseTemplate">
                            <img class="imgSize m-2" src="{{row.image}}?timestamp={{timestamp}}" alt="">
                        </ng-container>
                        <ng-template #elseTemplate>
                            <img class="imgSize m-2" src="assets/noimg.png" alt="">
                        </ng-template>
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="productDetail">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Detail </th>
                    <td mat-cell *matCellDef="let row"> {{row.productDetail}} </td>
                </ng-container>
 
                <ng-container matColumnDef="detailSpecifics">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Specifics </th>
                    <td mat-cell *matCellDef="let row"> {{row.detailSpecifics}} </td>
                </ng-container>
                <ng-container matColumnDef="idTypeNavigation.typeName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> idType </th>
                    <td mat-cell *matCellDef="let row"> {{row.idTypeNavigation.typeName}} </td>
                </ng-container>
    
                <ng-container matColumnDef="aciton">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> aciton </th>
                    <td mat-cell *matCellDef="let row">
                       
                        <button [routerLink]="[ '/productsEdit', row.id ]" class="m-2" mat-mini-fab color="accent">
                            <mat-icon>edit</mat-icon>
                        </button>
                        
                        <button mat-mini-fab color="accent" (click)="onDelete(row.id)"  class="m-2" >
                            <mat-icon>delete</mat-icon>
                        </button>

                        <button onclick="document.getElementById('id02').style.display='block'" (click)="addId(row.id)"  class="m-2" mat-mini-fab color="accent" type="button"  data-bs-toggle="modal" data-bs-target="#default" >
                            <mat-icon>add</mat-icon>
                        </button>

                        <button mat-mini-fab color="accent" [routerLink]="[ '/imgproductsDetail', row.id ]" class="m-2" >
                            <mat-icon>image</mat-icon>
                        </button>

                        <button mat-mini-fab color="accent" [routerLink]="[ '/productsDetailImg', row.id ]" class="m-2" >
                            <mat-icon>filter_list</mat-icon>
                        </button>

                        
                        
                    </td>
                </ng-container>
                
                <!-- นิยามส่วนหัวและแถว -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
    
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div> 


    






<!--Add Stock -->
    <div class="col-md-6 col-12" id="id02">  
        <div class="card-body">
            <div class="modal fade text-left" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel1" >Add Stock</h5>
                            <button type="button" class="close rounded-pill" data-bs-dismiss="modal" aria-label="Close">
                                <i data-feather="x"></i>
                            </button>
                        </div>
                        <form (submit)="addStock(FormStock)" #FormStock="ngForm">
                            <div class="modal-body">
                                <input [(ngModel)]="mStock.stock1" #LocalStock="ngModel" name="stock1" type="number" class="input"
                                    placeholder="stock" />
                            </div>
                       
                            <div class="modal-footer">
                                <button  class="btn btn-primary ml-1"  type="submit" [disabled]="FormStock.form.invalid">
                                    <i  class="bx bx-check d-block d-sm-none"></i>
                                    <span  class="d-none d-sm-block">Accept</span>
                                </button>

                                <button type="button" onclick="document.getElementById('id02').style.display='none'" class="btn" data-bs-dismiss="modal"  type="button" >
                                    <i class="bx bx-x d-block d-sm-none"></i>
                                    <span class="d-none d-sm-block">Close</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

